html.no-js(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Using reason and evidence to do the most good - Effective Altruism
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='canonical', href='https://www.effectivealtruism.org/')
    meta(name='description', content='Effective altruism is about answering one simple question: how can we use our resources to help others the most?')
    link(rel='stylesheet', type='text/css', href='https://d33wubrfki0l68.cloudfront.net/css/ac62f5dca8556cabcecdbd43a8e94cc5d2005b75/styles/app.min.css')
    meta(property='og:title', content='Home - Effective Altruism')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://www.effectivealtruism.org/')
    meta(property='og:image', content='https://www.effectivealtruism.org/images/social/ea-og-image-120x120.png')
    meta(property='og:image:width', content='120')
    meta(property='og:image:height', content='120')
    meta(property='og:image', content='https://www.effectivealtruism.org/images/social/ea-og-image-180x110.png')
    meta(property='og:image:width', content='180')
    meta(property='og:image:height', content='110')
    meta(property='og:image', content='https://www.effectivealtruism.org/images/social/ea-og-image-300x300.png')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')
    meta(property='og:image', content='https://www.effectivealtruism.org/images/social/ea-og-image-1200x650.png')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='650')
    meta(property='og:description', content='Effective altruism is about answering one simple question: how can we use our resources to help others the most?')
    meta(property='og:locale', content='en_US')
    meta(property='og:site_name', content='Effective Altruism')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@Effect_Altruism')
    meta(name='twitter:creator', content='@Effect_Altruism')
    meta(name='twitter:image', content='https://www.effectivealtruism.org/images/social/ea-og-image-120x120.png')
    script(type='application/ld+json').
      { "@context": "http://schema.org", "@type": "WebPage", "name": "Home" }
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#0b879d')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='apple-mobile-web-app-title', content='EA.org')
    meta(name='application-name', content='EA.org')
    meta(name='msapplication-TileColor', content='#0b879d')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='msapplication-config', content='/browserconfig.xml')
    meta(name='theme-color', content='#0b879d')
    script.
      var h = document.documentElement;
      h.className = h.className.replace("no-js", "js"), h.className += " wf-loading", window.wfInactive = !1, window.wfl = setTimeout(function() {
      window.wfInactive = !0, h.className = h.className.replace("wf-loading", "wf-inactive")
      }, 1500), window.q = [], window.$ = function(n) {
      q.push(n)
      }, window.d = [], window.loadScript = function(n) {
      d.push(n)
      }
    script.
      ! function() {
      var t = window.analytics = window.analytics || [];
      if (!t.initialize)
      if (t.invoked) window.console && console.error && console.error("Segment snippet included twice.");
      else {
      t.invoked = !0, t.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "page", "once", "off", "on"], t.factory = function(e) {
      return function() {
      var n = Array.prototype.slice.call(arguments);
      return n.unshift(e), t.push(n), t
      }
      };
      for (var e = 0; e < t.methods.length; e++) {
      var n = t.methods[e];
      t[n] = t.factory(n)
      }
      t.load = function(t) {
      var e = document.createElement("script");
      e.type = "text/javascript", e.async = !0, e.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
      var n = document.getElementsByTagName("script")[0];
      n.parentNode.insertBefore(e, n)
      }, t.SNIPPET_VERSION = "3.1.0", t.load("zbkLJhxMO425xQwGvutCFLjmUuzNY8N3")
      }
      }()
    script.
      analytics.page("Home")
    script.
      analytics.ready(function() {
      ga("create", "UA-50608733-2", "auto", {
      name: "legacyGA"
      }), ga("legacyGA.send", "pageview")
      })
  body.home.page
    nav#navbar-main.navbar.navbar-primary.navbar-fixed-top
      .row
        .navbar-inner.container
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-main-collapse')
            span.sr-only Toggle navigation
            i.icon.icon-bars
          .col-xs-10.col-md-6
            .navbar-header-brand
              .navbar-header-brand-logo-wrapper
                a(href='/', title='Go to the home page')
                  i.icon.icon-ea-lightbulb.navbar-header-brand-logo
              .navbar-header-brand-logo-text-wrapper
                a(href='/', title='Go to the home page')
                  img.navbar-header-brand-logo-text(src='https://d33wubrfki0l68.cloudfront.net/e853a5efafb3db77640485b276a476599c1794f2/d6d8d/images/logos/ea-logo-text.svg', alt='Effective Altruism')
          .col-xs-12.col-md-6
            #navbar-main-collapse.navbar-main-menu.collapse.navbar-collapse
              .row
                .col-xs-12
                  ul.navbar-nav
                    li.nav
                      a#navbar-link-home(href='/about/') About
                    li.nav
                      a#navbar-link-home(href='/resources/') Resources
                    li.nav
                      a#navbar-link-home(href='/cause-prioritization-tool/') Cause Prioritization Tool
                    li.nav
                      a#navbar-link-home(href='/get-involved/') Get Involved
    section#content-wrapper
      .container
        .noscript
          .alert.alert-warning
            p
              i.icon.icon-exclamation
              |  You do not have Javascript enabled. Some elements of this website may not work correctly.
      h1.page-title.sr-only Home
      .home-content
        .container
          section.home-section.home-section-hero
            .row
              .col-md-6.col-md-offset-3
                h2#effective-altruism-is-changing-the-way-we-do-good
                  a.heading-permalink(href='#effective-altruism-is-changing-the-way-we-do-good')
                    span
                  | Effective altruism is changing the way we do
                  span.widont  
                  | good.
                p.first-paragraph
                  | Effective altruism is about answering one simple question: how can we use our resources to help others the
                  span.widont  
                  | most?
                p
                  | Rather than just doing what feels right, we use evidence and careful analysis to find the very best causes to work
                  span.widont  
                  | on.
                p
                  | But it's no use answering the question unless you act on it. Effective altruism is about following through. It's about being generous with your time and your money to do the most good you
                  span.widont  
                  | can.
                .center
                  a#home-intro-learn-more-button.btn.btn-primary.home-section-hero-learn-more(href='/articles/introduction-to-effective-altruism') Learn more…
        .home-alternate-background
          .container
            .row
              .col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-1
                section.home-section.home-section-cause-prioritisation-tool
                  h2
                    | Not sure what cause you 
                    br.visible-md.visible-lg
                    | should work on?
                  p
                    | Use our
                    a#home-cause-prioritisation-tool-inline(href='/cause-prioritization-tool/') cause prioritisation tool
                    |  to find out.
                  a#home-cause-prioritisation-tool-button.btn.btn-default(href='/cause-prioritization-tool/') Try it now
              .col-xs-10.col-xs-offset-1.visible-xs.visible-sm
                hr.home-section-divider
              .col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-0
                section.home-section.home-section-newsletter-signup
                  h2
                    | Join the effective 
                    br.visible-xs.visible-md.visible-lg
                    | altruism newsletter
                  p (Around one email per month, no spam)
                  .newsletter-signup
                    .newsletter-signup-call-to-action-wrapper
                      p.newsletter-signup-call-to-action For news and opportunities:
                    .newsletter-signup-form-wrapper
                      form.form.newsletter-signup-form(action='https://effectivealtruism.us8.list-manage.com/subscribe/post?u=52b028e7f799cca137ef74763&amp;id=51c1df13ac', method='post', target='_blank', novalidate='')
                        .input-group
                          label.control-label.sr-only(for='newsletter-signup-email', aria-hidden='true') Email Address (required)
                          input.form-control.newsletter-signup-email(placeholder='Email address', name='EMAIL')
                          span.input-group-btn
                            button.btn.btn-primary.newsletter-signup-subscribe Subscribe
                        .clearfix
                          .newsletter-signup-result
                          div(style='position: absolute; left: -5000px', aria-hidden='true')
                            input(name='b_52b028e7f799cca137ef74763_51c1df13ac', tabindex='-1')
                          input(type='hidden', value='effectivealtruism.org', name='SOURCE')
                  script.
                    ! function() {
                    for (var e = document.getElementsByClassName("newsletter-signup-subscribe"), s = 0; s < e.length; s++) e[s].className += " disabled"
                    }()
        .container
          .row
            .col-md-5.col-md-offset-1
              section.home-section.home-section-key-ideas
                h2.home-section-title
                  | Reading
                  a#home-reading-read-more.home-section-read-more-link(href='/resources/') Read more...
                ul.home-section-key-ideas-list.list-unstyled
                  li.home-section-key-ideas-idea
                    a#home-reading-introduction-to-effective-altruism(href='/articles/introduction-to-effective-altruism/') Introduction to Effective Altruism
                  li.home-section-key-ideas-idea
                    a(href='http://effective-altruism.com/ea/5e/efficient_charity_do_unto_others/', target='_blank', id='home-reading-httpeffective-altruism.comea5eefficient_charity_do_unto_others') Efficient Charity: Do Unto Others
                    i.icon.icon-external-link
                  li.home-section-key-ideas-idea
                    a(href='https://80000hours.org/articles/effective-or-not/', target='_blank', id='home-reading-https80000hours.orgarticleseffective-or-not') Effective or Not?
                    i.icon.icon-external-link
                  li.home-section-key-ideas-idea
                    a(href='https://80000hours.org/career-guide/introduction/', target='_blank', id='home-reading-https80000hours.orgcareer-guideintroduction') High Impact Career Guide
                    i.icon.icon-external-link
                  li.home-section-key-ideas-idea
                    a(href='http://www.givewell.org/giving101', target='_blank', id='home-reading-httpwww.givewell.orggiving101') Giving 101: The Basics
                    i.icon.icon-external-link
                  li.home-section-key-ideas-idea
                    a(href='http://blog.givewell.org/2013/08/20/excited-altruism/', target='_blank', id='home-reading-httpblog.givewell.org20130820excited-altruism') Excited Altruism
                    i.icon.icon-external-link
                  li.home-section-key-ideas-idea
                    a(href='http://www.cgdev.org/sites/default/files/1427016_file_moral_imperative_cost_effectiveness.pdf', target='_blank', id='home-reading-httpwww.cgdev.orgsitesdefaultfiles1427016_file_moral_imperative_cost_effectiveness.pdf') The Moral Imperative Towards Cost-Effectiveness
                    i.icon.icon-external-link
                  li.home-section-key-ideas-idea
                    a(href='http://www.jefftk.com/p/the-unintuitive-power-laws-of-giving', target='_blank', id='home-reading-httpwww.jefftk.compthe-unintuitive-power-laws-of-giving') The Unintuitive Power Laws of Giving
                    i.icon.icon-external-link
            .col-md-5
              section.home-section.home-section-effective-altruist-profiles
                h2.home-section-title
                  | Community Profiles
                  a#home-community-profiles-read-more.home-section-read-more-link(href='/community-profiles/') Read more...
                .row
                  .col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
                    a#home-reading-lincoln-quirk(href='/people/lincoln-quirk/')
                      .home-section-effective-altruist-profiles-profile-image-wrapper
                        .content
                          img.img-responsive.home-section-effective-altruist-profiles-profile-image.lazyload(src='//images.contentful.com/ohf186sfn6di/4QiMMSXYDCw8Km4Y0O0QGq/dd2f53340b738694223ec38dc881f921/lincoln_quirk.jpg?w=100&q=50', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/4QiMMSXYDCw8Km4Y0O0QGq/dd2f53340b738694223ec38dc881f921/lincoln_quirk.jpg?w=100&q=50 100w, //images.contentful.com/ohf186sfn6di/4QiMMSXYDCw8Km4Y0O0QGq/dd2f53340b738694223ec38dc881f921/lincoln_quirk.jpg?w=480&q=70 480w, //images.contentful.com/ohf186sfn6di/4QiMMSXYDCw8Km4Y0O0QGq/dd2f53340b738694223ec38dc881f921/lincoln_quirk.jpg?w=768&q=70 768w, //images.contentful.com/ohf186sfn6di/4QiMMSXYDCw8Km4Y0O0QGq/dd2f53340b738694223ec38dc881f921/lincoln_quirk.jpg?w=992&q=70 992w, //images.contentful.com/ohf186sfn6di/4QiMMSXYDCw8Km4Y0O0QGq/dd2f53340b738694223ec38dc881f921/lincoln_quirk.jpg?w=1200&q=70 1200w, //images.contentful.com/ohf186sfn6di/4QiMMSXYDCw8Km4Y0O0QGq/dd2f53340b738694223ec38dc881f921/lincoln_quirk.jpg?w=1800&q=70 1800w')
                      p.home-section-effective-altruist-profiles-profile-title Lincoln Quirk
                  .col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
                    a#home-reading-anjali-gopal(href='/people/anjali-gopal/')
                      .home-section-effective-altruist-profiles-profile-image-wrapper
                        .content
                          img.img-responsive.home-section-effective-altruist-profiles-profile-image.lazyload(src='//images.contentful.com/ohf186sfn6di/3paz0A073WwKo64iI0ao4k/4331844a21a0b5101ef17b779eee515e/Anjali_Gopal.png?w=100&q=50', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/3paz0A073WwKo64iI0ao4k/4331844a21a0b5101ef17b779eee515e/Anjali_Gopal.png?w=100&q=50 100w, //images.contentful.com/ohf186sfn6di/3paz0A073WwKo64iI0ao4k/4331844a21a0b5101ef17b779eee515e/Anjali_Gopal.png?w=480&q=70 480w, //images.contentful.com/ohf186sfn6di/3paz0A073WwKo64iI0ao4k/4331844a21a0b5101ef17b779eee515e/Anjali_Gopal.png?w=768&q=70 768w, //images.contentful.com/ohf186sfn6di/3paz0A073WwKo64iI0ao4k/4331844a21a0b5101ef17b779eee515e/Anjali_Gopal.png?w=992&q=70 992w, //images.contentful.com/ohf186sfn6di/3paz0A073WwKo64iI0ao4k/4331844a21a0b5101ef17b779eee515e/Anjali_Gopal.png?w=1200&q=70 1200w, //images.contentful.com/ohf186sfn6di/3paz0A073WwKo64iI0ao4k/4331844a21a0b5101ef17b779eee515e/Anjali_Gopal.png?w=1800&q=70 1800w')
                      p.home-section-effective-altruist-profiles-profile-title Anjali Gopal
                  .col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
                    a#home-reading-liv-boeree(href='/people/liv-boeree/')
                      .home-section-effective-altruist-profiles-profile-image-wrapper
                        .content
                          img.img-responsive.home-section-effective-altruist-profiles-profile-image.lazyload(src='//images.contentful.com/ohf186sfn6di/1GX8dmtlogoUuy2uoSEQyk/7976f4a841ada82c46fd35ff78b3aa48/liv_boeree.jpg?w=100&q=50', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/1GX8dmtlogoUuy2uoSEQyk/7976f4a841ada82c46fd35ff78b3aa48/liv_boeree.jpg?w=100&q=50 100w, //images.contentful.com/ohf186sfn6di/1GX8dmtlogoUuy2uoSEQyk/7976f4a841ada82c46fd35ff78b3aa48/liv_boeree.jpg?w=480&q=70 480w, //images.contentful.com/ohf186sfn6di/1GX8dmtlogoUuy2uoSEQyk/7976f4a841ada82c46fd35ff78b3aa48/liv_boeree.jpg?w=768&q=70 768w, //images.contentful.com/ohf186sfn6di/1GX8dmtlogoUuy2uoSEQyk/7976f4a841ada82c46fd35ff78b3aa48/liv_boeree.jpg?w=992&q=70 992w, //images.contentful.com/ohf186sfn6di/1GX8dmtlogoUuy2uoSEQyk/7976f4a841ada82c46fd35ff78b3aa48/liv_boeree.jpg?w=1200&q=70 1200w, //images.contentful.com/ohf186sfn6di/1GX8dmtlogoUuy2uoSEQyk/7976f4a841ada82c46fd35ff78b3aa48/liv_boeree.jpg?w=1800&q=70 1800w')
                      p.home-section-effective-altruist-profiles-profile-title Liv Boeree
                  .col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
                    a#home-reading-alexander-gordon-brown(href='/people/alexander-gordon-brown/')
                      .home-section-effective-altruist-profiles-profile-image-wrapper
                        .content
                          img.img-responsive.home-section-effective-altruist-profiles-profile-image.lazyload(src='//images.contentful.com/ohf186sfn6di/1cUxnxq6KUEegUqG28IYSq/d9ac723e891e3c0c625bcb9f0ec24eaa/Alexander_Gordon_Brown.jpg?w=100&q=50', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/1cUxnxq6KUEegUqG28IYSq/d9ac723e891e3c0c625bcb9f0ec24eaa/Alexander_Gordon_Brown.jpg?w=100&q=50 100w, //images.contentful.com/ohf186sfn6di/1cUxnxq6KUEegUqG28IYSq/d9ac723e891e3c0c625bcb9f0ec24eaa/Alexander_Gordon_Brown.jpg?w=480&q=70 480w, //images.contentful.com/ohf186sfn6di/1cUxnxq6KUEegUqG28IYSq/d9ac723e891e3c0c625bcb9f0ec24eaa/Alexander_Gordon_Brown.jpg?w=768&q=70 768w, //images.contentful.com/ohf186sfn6di/1cUxnxq6KUEegUqG28IYSq/d9ac723e891e3c0c625bcb9f0ec24eaa/Alexander_Gordon_Brown.jpg?w=992&q=70 992w, //images.contentful.com/ohf186sfn6di/1cUxnxq6KUEegUqG28IYSq/d9ac723e891e3c0c625bcb9f0ec24eaa/Alexander_Gordon_Brown.jpg?w=1200&q=70 1200w, //images.contentful.com/ohf186sfn6di/1cUxnxq6KUEegUqG28IYSq/d9ac723e891e3c0c625bcb9f0ec24eaa/Alexander_Gordon_Brown.jpg?w=1800&q=70 1800w')
                      p.home-section-effective-altruist-profiles-profile-title Alexander Gordon-Brown
                  .col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
                    a#home-reading-jaan-tallinn(href='/people/jaan-tallinn/')
                      .home-section-effective-altruist-profiles-profile-image-wrapper
                        .content
                          img.img-responsive.home-section-effective-altruist-profiles-profile-image.lazyload(src='//images.contentful.com/ohf186sfn6di/QWgWYzOigUwi6os4OoMQ6/158201b0300b3a46c80b3f84f7fd060e/jaan_tallinn.jpg?w=100&q=50', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/QWgWYzOigUwi6os4OoMQ6/158201b0300b3a46c80b3f84f7fd060e/jaan_tallinn.jpg?w=100&q=50 100w, //images.contentful.com/ohf186sfn6di/QWgWYzOigUwi6os4OoMQ6/158201b0300b3a46c80b3f84f7fd060e/jaan_tallinn.jpg?w=480&q=70 480w, //images.contentful.com/ohf186sfn6di/QWgWYzOigUwi6os4OoMQ6/158201b0300b3a46c80b3f84f7fd060e/jaan_tallinn.jpg?w=768&q=70 768w, //images.contentful.com/ohf186sfn6di/QWgWYzOigUwi6os4OoMQ6/158201b0300b3a46c80b3f84f7fd060e/jaan_tallinn.jpg?w=992&q=70 992w, //images.contentful.com/ohf186sfn6di/QWgWYzOigUwi6os4OoMQ6/158201b0300b3a46c80b3f84f7fd060e/jaan_tallinn.jpg?w=1200&q=70 1200w, //images.contentful.com/ohf186sfn6di/QWgWYzOigUwi6os4OoMQ6/158201b0300b3a46c80b3f84f7fd060e/jaan_tallinn.jpg?w=1800&q=70 1800w')
                      p.home-section-effective-altruist-profiles-profile-title Jaan Tallinn
                  .col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
                    a#home-reading-viktoriya-krakovna(href='/people/viktoriya-krakovna/')
                      .home-section-effective-altruist-profiles-profile-image-wrapper
                        .content
                          img.img-responsive.home-section-effective-altruist-profiles-profile-image.lazyload(src='//images.contentful.com/ohf186sfn6di/5Q8PozLMrYcGiAKs6kCwmM/45c9ee548b6b8411f717b797108fcf09/Viktoriya_Krakovna.png?w=100&q=50', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/5Q8PozLMrYcGiAKs6kCwmM/45c9ee548b6b8411f717b797108fcf09/Viktoriya_Krakovna.png?w=100&q=50 100w, //images.contentful.com/ohf186sfn6di/5Q8PozLMrYcGiAKs6kCwmM/45c9ee548b6b8411f717b797108fcf09/Viktoriya_Krakovna.png?w=480&q=70 480w, //images.contentful.com/ohf186sfn6di/5Q8PozLMrYcGiAKs6kCwmM/45c9ee548b6b8411f717b797108fcf09/Viktoriya_Krakovna.png?w=768&q=70 768w, //images.contentful.com/ohf186sfn6di/5Q8PozLMrYcGiAKs6kCwmM/45c9ee548b6b8411f717b797108fcf09/Viktoriya_Krakovna.png?w=992&q=70 992w, //images.contentful.com/ohf186sfn6di/5Q8PozLMrYcGiAKs6kCwmM/45c9ee548b6b8411f717b797108fcf09/Viktoriya_Krakovna.png?w=1200&q=70 1200w, //images.contentful.com/ohf186sfn6di/5Q8PozLMrYcGiAKs6kCwmM/45c9ee548b6b8411f717b797108fcf09/Viktoriya_Krakovna.png?w=1800&q=70 1800w')
                      p.home-section-effective-altruist-profiles-profile-title Viktoriya Krakovna
                  .col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
                    a#home-reading-nick-bostrom(href='/people/nick-bostrom/')
                      .home-section-effective-altruist-profiles-profile-image-wrapper
                        .content
                          img.img-responsive.home-section-effective-altruist-profiles-profile-image.lazyload(src='//images.contentful.com/ohf186sfn6di/9LDTDHFchqiawmUCKSwoG/b2f32021ae22f98c1722c9d479b12752/nick_bostrom.jpg?w=100&q=50', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/9LDTDHFchqiawmUCKSwoG/b2f32021ae22f98c1722c9d479b12752/nick_bostrom.jpg?w=100&q=50 100w, //images.contentful.com/ohf186sfn6di/9LDTDHFchqiawmUCKSwoG/b2f32021ae22f98c1722c9d479b12752/nick_bostrom.jpg?w=480&q=70 480w, //images.contentful.com/ohf186sfn6di/9LDTDHFchqiawmUCKSwoG/b2f32021ae22f98c1722c9d479b12752/nick_bostrom.jpg?w=768&q=70 768w, //images.contentful.com/ohf186sfn6di/9LDTDHFchqiawmUCKSwoG/b2f32021ae22f98c1722c9d479b12752/nick_bostrom.jpg?w=992&q=70 992w, //images.contentful.com/ohf186sfn6di/9LDTDHFchqiawmUCKSwoG/b2f32021ae22f98c1722c9d479b12752/nick_bostrom.jpg?w=1200&q=70 1200w, //images.contentful.com/ohf186sfn6di/9LDTDHFchqiawmUCKSwoG/b2f32021ae22f98c1722c9d479b12752/nick_bostrom.jpg?w=1800&q=70 1800w')
                      p.home-section-effective-altruist-profiles-profile-title Nick Bostrom
          .row
            .col-md-10.col-md-offset-1
              hr.home-section-divider
          section.home-section.home-section-quotations
            .row
              .col-md-10.col-md-offset-1
                .row
                  .col-md-6
                    .quotation
                      img.quotation-author-image.lazyload(src='//images.contentful.com/ohf186sfn6di/6k4JQLs7JYIumigiC6qOOu/121c4077d5215491a35cbc441f69888c/1432223490919?w=100&q=50&h=100&fit=thumb', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/6k4JQLs7JYIumigiC6qOOu/121c4077d5215491a35cbc441f69888c/1432223490919?w=100&q=50&h=100&fit=thumb 100w')
                      blockquote.quotation-text
                        p.first-paragraph
                          | Effective altruism — efforts that actually help people rather than making you feel good or helping you show off — is one of the great new ideas of the 21
                          span.ord st
                          span.widont  
                          | century.
                      .quotation-source
                        p.quotation-source-title Steven Pinker
                        p.quotation-source-details
                          span.quotation-source-job-title
                            | Johnstone Family Professor of Psychology at Harvard University, author of 'The Better Angels of Our Nature'
                  .col-md-6
                    .quotation
                      img.quotation-author-image.lazyload(src='//images.contentful.com/ohf186sfn6di/1awRG1JS34We8iougkekWc/e236f6b6d1ba932d740b3cfb6e6bae19/Derek_Thompson.png?w=100&q=50&h=100&fit=thumb', data-sizes='auto', data-srcset='//images.contentful.com/ohf186sfn6di/1awRG1JS34We8iougkekWc/e236f6b6d1ba932d740b3cfb6e6bae19/Derek_Thompson.png?w=100&q=50&h=100&fit=thumb 100w')
                      blockquote.quotation-text
                        p.first-paragraph
                          | Effective altruism … is matching a clear-eyed approach to doing good with scientific
                          span.widont  
                          | exactitude.
                      .quotation-source
                        p.quotation-source-title Derek Thompson
                        p.quotation-source-details
                          span.quotation-source-job-title Senior Editor, The Atlantic
          section.home-section.home-section-media
            .row
              .col-md-10.col-md-offset-1
                h2.home-section-title
                  | Effective altruism in the media
                  a#home-link-readmore-media.home-section-read-more-link(href='/media/') More...
                ul.media-highlights
                  li.media-highlights-item
                    a.media-highlights-item-link.media-highlight-the-new-york-times(href='http://nytimes.com/2015/04/05/opinion/sunday/nicholas-kristof-the-trader-who-donates-half-his-pay.html', target='_blank')
                      span.sr-only The New York Times
                  li.media-highlights-item
                    a.media-highlights-item-link.media-highlight-vice(href='http://vice.com/en_uk/read/why-are-young-people-being-so-altruistic-209', target='_blank')
                      span.sr-only Vice
                  li.media-highlights-item
                    a.media-highlights-item-link.media-highlight-vox(href='http://vox.com/2015/4/24/8457895/givewell-open-philanthropy-charity', target='_blank')
                      span.sr-only Vox
                  li.media-highlights-item
                    a.media-highlights-item-link.media-highlight-the-atlantic(href='http://www.theatlantic.com/business/archive/2015/06/what-is-the-greatest-good/395768/', target='_blank')
                      span.sr-only The Atlantic
                  li.media-highlights-item
                    a.media-highlights-item-link.media-highlight-financial-times(href='https://next.ft.com/content/1954323c-8eb3-11e5-8be4-3506bf20cc2b', target='_blank')
                      span.sr-only Financial Times
  footer.footer
    footer#footer.footer
      .container
        .row
          .col-md-6.footer-left
            .row
              .col-xs-12
                .footer-legal
                  p
                    a(href='/') effectivealtruism.org
                    |  is a project of The Centre for Effective Altruism, a registered charity in England and Wales (Charity Number 1149828). All content © Centre For Effective Altruism or its respective authors, unless otherwise noted. For enquiries and feedback
                    a(href='/contact/') contact us
                    | .
          .col-md-6.footer-right
            .row
              .col-md-8.col-md-offset-2
                .newsletter-signup
                  .newsletter-signup-call-to-action-wrapper
                    p.newsletter-signup-call-to-action For news and opportunities:
                  .newsletter-signup-form-wrapper
                    form.form.newsletter-signup-form(action='https://effectivealtruism.us8.list-manage.com/subscribe/post?u=52b028e7f799cca137ef74763&amp;id=51c1df13ac', method='post', target='_blank', novalidate='')
                      .input-group
                        label.control-label.sr-only(for='newsletter-signup-email', aria-hidden='true') Email Address (required)
                        input.form-control.newsletter-signup-email(placeholder='Email address', name='EMAIL')
                        span.input-group-btn
                          button.btn.btn-primary.newsletter-signup-subscribe Subscribe
                      .clearfix
                        .newsletter-signup-result
                        div(style='position: absolute; left: -5000px', aria-hidden='true')
                          input(name='b_52b028e7f799cca137ef74763_51c1df13ac', tabindex='-1')
                        input(type='hidden', value='effectivealtruism.org', name='SOURCE')
                script.
                  ! function() {
                  for (var e = document.getElementsByClassName("newsletter-signup-subscribe"), s = 0; s < e.length; s++) e[s].className += " disabled"
                  }()
  script#app-script(type='application/x-no-execution', async='', src='https://d33wubrfki0l68.cloudfront.net/js/6adcf377a4cb82903221d8fe42c0f841cbfb4d87/scripts/app.min.js')
  script(async='', src='https://d33wubrfki0l68.cloudfront.net/js/40535bcd12a0db07704d97e733f08d0c608f4ac8/scripts/loader.min.js')
