//- form.form
//-   .form-group
//-     //- label(for="signup-email") Email Address
//-     input.form-control(type="email", name="signup-email", placeholder="Email Address")
//-   .form-group
//-     //- label(for="signup-answer") What is the world’s most pressing issue?
//-     textarea.form-control(rows="5", name="signup-answer", placeholder="What's the world most pressing issue? (Optional)")
//-   .form-group
//-     button.btn.btn-default#signup-button(type="submit") Submit
